body {
    font-size: 14px;
    line-height: 22px;
    font-family: Helvetica Neue, Helvetica, Arial;
    background: #f4f4f4 url(docs/images/background.png);
}
ol {
    list-style: none;
}

/* Sidebar */
#sidebar {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
    background: #fff;
    position: fixed;
    z-index: 10;
    top: 0; left: 0; bottom: 0;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 15px 0 30px 30px;
    border-right: 1px solid #bbb;
    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
}
#sidebar ol {
    padding: 0px;
    font-size: 10px;
    font-weight: normal;
}
a.toc_title, a.toc_title:visited {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 15px;
}
#sidebar a, #sidebar:visited {
    display: block;
    color: black;
    text-decoration: none;
}
/* Sidebar end */

/* Content */
#content {
    position: relative;
    width: 550px;
    margin: 40px 0 50px 260px;
}
h1 {
    font-size: 25px;
}
h1 strong {
    font-weight: normal;
    text-transform: uppercase; 
    font-family: 'Helvetica Neue', Helvetica, 'Hiragino Kaku Gothic Pro',
    'Lucida Grande', Verdana, Arial, Meiryo, メイリオ, sans-serif;
}
#cover {
    width: 290px;
    border: 1px solid #bbb;
    vertical-align: top;
}
#info table {
    margin-left: 10px;
    display: inline-block;
}
#info table th {
    text-align: right;
}
#table-of-contents > ol > li {
    font-weight: bold;
}
#errata table {
    border: 1px solid #ddd;
    background-color: white;
    border-collapse: collapse;
    margin: 0px;
}
#errata td,  #errata th {
    border-left: 1px solid #ddd;
    padding: 5px;
    margin: 0px;
}
#errata td {
    border-top: 1px solid #ddd;
}
#errata td:first-child, #errata th:first-child {
    border-left: none;
}
