<div data-role="fieldcontain">
  <label for="contact_name">Name:</label>
  <input type="text" name="name" id="contact_name"
    value="<%= source.name || '' %>" />
  <div class="error" id="error_name"></div>
</div>
<div data-role="fieldcontain">
  <label for="contact_phone">Phone:</label>
  <input type="text" name="phone" id="contact_phone"
    value="<%= source.phone || '' %>" />
  <div class="error" id="error_phone"></div>
</div>
<div data-role="fieldcontain">
  <label for="contact_email">Email:</label>
  <input type="text" name="email" id="contact_email"
    value="<%= source.email || '' %>" />
  <div class="error" id="error_email"></div>
</div>
<div data-role="fieldcontain">
  <label for="contact_twitter">Twitter:</label>
  <input type="text" name="twitter" id="contact_twitter"
    value="<%= source.twitter || '' %>" />
  <div class="error" id="error_twitter"></div>
</div>
<div data-role="fieldcontain">
  <label for="contact_facebook">Github:</label>
  <input type="text" name="github" id="contact_github"
    value="<%= source.github || '' %>" />
  <div class="error" id="error_github"></div>
</div>
<div data-role="fieldcontain">
  <label for="contact_facebook">Facebook:</label>
  <input type="text" name="facebook" id="contact_facebook"
    value="<%= source.facebook || '' %>" />
  <div class="error" id="error_facebook"></div>
</div>
