<div data-role="header">
  <h1>Edit</h1>
</div>
<div data-role="content">
  <form action="#" method="POST">
    <%= JST['mobile/_form']({source: source}) %>
    <div class="ui-body ui-body-c">
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <a href="#<%= source.id %>" data-role="button" data-theme="c">Cancel</a>
        </div>
        <div class="ui-block-b">
          <button class="save" data-theme="b">Save</button>
        </div>
      </fieldset>
      <hr/>
      <span data-role="button" class="delete" data-theme="d">Delete</span>
    </div>
  </form>
</div>
